---
interface Props {
  pos: String;
  title: String;
  subtitle: String;
  description: String;
  primary: Boolean;
}

const { pos, title, subtitle, description, primary = false } = Astro.props;
---

<div class="mt-6 md:mt-0">
  <div class="flex flex-col md:flex-row items-center">
    <div class={`flex ${pos} w-full mx-auto items-center`}>
      <div class="w-full md:w-1/2 md:pl-4 md:pl-8">
        <div class="p-4 rounded shadow-lg md:mr-10">
          <div class="flex flex-col xl:flex-row">
            <div class="mr-3">
              <!-- Título con tamaños de texto adaptables -->
              <p
                class="mb-1 text-black sm:text-[3.5vw] md:text-[2rem] lg:text-[1.5rem]"
              >
                {title}
              </p>
              <!-- Subtítulo con tamaños adaptables -->
              <p
                class="text-green sm:text-[3vw] md:text-[1.25rem] lg:text-[1.5rem]"
              >
                {subtitle}
              </p>
            </div>
            <div
              class="text-green sm:text-[2vw] md:text-[1rem] lg:text-[1.25rem]"
            >
              <!-- Descripción con tamaños adaptables -->
              <p>{description}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="border-4 w-8 h-8
        absolute
        left-1/2
        -translate-y-4
        sm:translate-y-0
        transform
        -translate-x-1/2
        flex items-center justify-center
        border-black
        bg-black
        rounded
        ${primary && 'border-green bg-green'}"
    >
    </div>
  </div>
</div>
