<div
  class="hidden
        md:block
        w-1
        bg-green
        rounded
        absolute
        h-3/6
        left-1/2
        -translate-x-1/2
        transform
        self-stretch"
>
</div>
