---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: flex;
    height: 55px;
    width: 166px;
    font-size: 1.6rem;
    color: #fff5e1;
    justify-content: center;
    &:hover {
      background-color: #f1de63;
      color: #252830;
    }
    cursor: pointer;
    text-decoration: none;
  }
  a.active {
    transition: 0.2s;
    font-weight: bolder;
    background-color: #f1de63;
    color: #252830;
  }
</style>
