



body {
	background-color: #F1DE63;
	font-family: 'Atkinson', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
	scrollbar-width: thin; /* Hacer el scrollbar más delgado */
    scrollbar-color: #F1DE63 #252830; /* Color del thumb y del track */
}
/* Estilos para el scrollbar en navegadores WebKit */
::-webkit-scrollbar {
    width: 5px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
    background: #252830; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
    background: #F1DE63; /* Color del thumb */
    border-radius: 21px; /* Bordes redondeados */
}



