@import url("https://fonts.googleapis.com/css2?family=Atkinson&display=swap");
:root {
  --gray-dark: 50, 50, 50; /* Ejemplo */
}

body {
  background-color: #f1de63;
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow-wrap: break-word; /* Solo esta propiedad es suficiente */
  color: rgb(var(--gray-dark)); /* Asegúrate de que la variable esté definida */
  font-size: 20px;
  line-height: 1.7;
  scrollbar-width: thin; /* Hacer el scrollbar más delgado */
  scrollbar-color: #f1de63 #252830; /* Color del thumb y del track */
}

/* Estilos para el scrollbar en navegadores WebKit */
::-webkit-scrollbar {
  width: 5px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
  background: #252830; /* Color de fondo del track */
}

::-webkit-scrollbar-thumb {
  background: #f1de63; /* Color del thumb */
  border-radius: 21px; /* Bordes redondeados */
}

/* Asegura que el fondo ocupe siempre la esquina inferior izquierda */
.html-background {
  position: fixed; /* Asegura que la imagen se quede fija en la pantalla */
  bottom: 0; /* Coloca la imagen en la parte inferior */
  left: 0; /* Coloca la imagen en la parte izquierda */
  width: 100%; /* Ocupa el ancho completo de la pantalla */
  height: auto; /* Deja que la altura de la imagen se ajuste proporcionalmente */
  background-image: url("/arica-morro.svg");
  background-repeat: no-repeat;
  background-position: bottom left; /* Asegura que la imagen esté en la esquina */
  z-index: -1; /* Asegura que la imagen esté detrás del contenido */
  min-height: 100vh; /* Opcional: asegura que la imagen cubra todo el alto de la pantalla */

  /* hidebackground on low height */
  @media (max-height: 870px) {
    background-image: none;
    background-color: #252830;
    min-height: 0;
    height: 0;
    display: none;
  }
}
