---
import PagesLayout from "../layouts/PagesLayout.astro";

const allImages = import.meta.glob("/public/certificates/*");

// Convertir los nombres de las rutas a un arreglo
const certificateKeys = Object.keys(allImages);
const certificatePathsDynamic = certificateKeys.map((path) =>
  path.replace("/public", "")
);
---

<PagesLayout title="Certificados">
  <div class="gallery">
    {
      certificatePathsDynamic.map((path) => (
        <img src={path} alt={path} class="gallery_img" />
      ))
    }
  </div>

  <style>
    /* Columnas */
    .gallery {
      column-count: 3; /* Columnas */
      column-width: 300px; /* Ancho columnas */
      column-gap: 13px; /* Separación columnas */
      max-width: 1366px; /* Ancho galería */
      margin-left: auto;
      margin-right: auto;
    }
    /* Imágenes */
    .gallery_img {
      max-width: 100%; /* Imagen no desborda sobre su columna */
      margin-bottom: 8px; /* Espacio bottom */
      display: block; /**/
    }
  </style>
</PagesLayout>
