---

---

<div class="cv">
  <a
    href="../fullstack-freddy-huaylla-cv.pdf"
    download="fullstack-freddy-huaylla-cv.pdf"
  >
    CV
  </a>
</div>

<style>
  .cv {
    display: flex;
    height: 30px;
  }

  a {
    display: flex;
    border: none;
    cursor: pointer;
    padding: 5px 30px;
    background-color: inherit;
    text-align: center;
    color: #252830;
    text-decoration: none;
  }

  a {
    font-size: 14px;
    text-decoration: none;
    border: 1px dashed #252830;
    border-radius: 0px;
    background-color: inherit;
    fill: none;
    stroke-width: 1.8;
    stroke: #252830;
    display: flex;
    &:hover {
      background-color: #252830;
      color: #eff3f4;
      stroke: #eff3f4;
    }
  }
</style>
