---
import Card from "../atoms/Card.astro";
import Line from "../atoms/Line.astro";
---

<div class="py-0 flex flex-col justify-center sm:py-12">
  <div class="py-0 sm:max--xl sm:mx-auto w-full px-2 sm:px-0">
    <div class="antialiased text-sm">
      <Line />

      <!-- Vertical bar running through middle -->
      <Card
        pos="justify-end"
        title="Freelance"
        subtitle=""
        description="Actualmente, me encuentro inmerso en el desarrollo de una aplicación para la gestión de inventario y control de precios, lo que complementa mi experiencia en el desarrollo de apps multiplataforma . Mi enfoque principal radica en el uso de tecnologías web y frameworks modernos para crear soluciones atractivas y funcionales. Además, continúo mi formación en programación."
        primary={true}
      />
      <Card
        pos="justify-start"
        title="Fullstack"
        subtitle="Klog.co"
        description="Tengo experiencia en el uso de metodologías ágiles, desarrollo front-end, optimización de rendimiento, gestión de bases de datos, GraphQL, pruebas de software, control de versiones, SEO, accesibilidad y diversas herramientas tecnológicas. Domino tecnologías clave como ReactJS, NextJS, Ant Design, TypeScript, PgAdmin, Redis, Prisma, Chrome DevTools, Git, Insomnia y Webpack"
        primary={false}
      />
      <Card
        pos="justify-end"
        title="Soporte"
        subtitle="HJNC"
        description="Programador integral con experiencia en gestión de inventarios médicos, respaldos de bases de datos y soporte técnico a equipos hospitalarios, asegurando el correcto funcionamiento del sistema de inventario HJNC , el reabastecimiento y la asistencia técnica a los usuarios del hospital."
        primary={false}
      />
    </div>
  </div>
</div>
