---
import Card from "../atoms/Card.astro";
import Line from "../atoms/Line.astro";
---

<div class="py-0 flex flex-col justify-center sm:py-12">
  <div class="py-0 sm:max-w-10xl sm:mx-auto w-full px-2 sm:px-0">
    <div class="antialiased text-sm">
      <Line />

      <!-- Freelance ERP Project -->
      <Card
        pos="justify-end"
        title="Freelance"
        subtitle="ERP Multiplataforma"
        description="Desarrollé un ERP responsivo y multiplataforma con datos en tiempo real mediante WebSockets y flujos de trabajo inteligentes, adaptado a las necesidades de cada cliente con módulos clásicos y personalizables."
        primary={true}
      />

      <!-- Klog Project -->
      <Card
        pos="justify-start"
        title="Fullstack"
        subtitle="Klog.co"
        description="Tengo experiencia en el uso de metodologías ágiles, desarrollo front-end, optimización de rendimiento, gestión de bases de datos, GraphQL, pruebas de software, control de versiones, SEO, accesibilidad y diversas herramientas tecnológicas. Domino tecnologías clave como ReactJS, NextJS, Ant Design, TypeScript, PgAdmin, Redis, Prisma, Chrome DevTools, Git, Insomnia y Webpack"
        primary={false}
      />

      <!-- HJNC Support Role -->
      <Card
        pos="justify-end"
        title="Soporte Técnico"
        subtitle="HJNC"
        description="Trabajé en el soporte técnico y la gestión de inventarios médicos, implementando sistemas para asegurar la correcta operación del inventario hospitalario y la asistencia técnica a los equipos y usuarios del hospital."
        primary={false}
      />
    </div>
  </div>
</div>
