---
import Card from "../atoms/Card.astro";
import Line from "../atoms/Line.astro";
---

<div class="py-0 flex flex-col justify-center sm:py-12">
  <div class="py-0 sm:max--xl sm:mx-auto w-full px-2 sm:px-0">
    <div class="antialiased text-sm">
      <Line />

      <!-- Vertical bar running through middle -->
      <Card
        pos="justify-end"
        title="Freelance"
        subtitle=""
        description="Desarrollo de páginas estáticas, aplicaciones en expo y sistemas, mayormente en tecnologías web y frameworks modernos para crear soluciones web atractivas."
        primary={true}
      />
      <Card
        pos="justify-start"
        title="Fullstack"
        subtitle="Klog.co"
        description="Experiencia en metodologías ágiles, front-end,optimización, bases de datos, GraphQL, pruebas, control de versiones, SEO, accesibilidad y herramientas, dominando tecnologías como ReactJS, NextJS, Ant Design, TypeScript, PgAdmin, Redis, Prisma, Chrome DevTools, Git, Insomnia y  Webpack."
        primary={false}
      />
      <Card
        pos="justify-end"
        title="Soporte"
        subtitle="HJNC"
        description="Programador integral con experiencia en gestión de inventarios médicos, respaldos de bases de datos y soporte técnico a equipos hospitalarios, asegurando el correcto funcionamiento del sistema de inventario HJNC y la asistencia técnica a los usuarios del hospital."
        primary={false}
      />
    </div>
  </div>
</div>
