---
import Cv from "../molecules/Cv.astro";
import Contact from "../molecules/Contact.astro";
---

<div>
  <Cv />
  <Contact />
</div>

<style>
  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
