---
import { ViewTransitions } from "astro:transitions";

import BaseHead from "../components/atomic/atoms/BaseHead.astro";
import Header from "../components/atomic/molecules/Header.astro";
import Top from "../components/atomic/molecules/Top.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const currentPath = Astro.url.pathname.includes("blog");
console.log(currentPath);
---

<html lang="en">
  <head>
    <ViewTransitions />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <div class={!currentPath ? "html-background" : ""}>
      {
        !currentPath && (
          <header>
            <Top />
          </header>
        )
      }
      <main>
        <slot />
      </main>
      <footer>
        <Header />
      </footer>
    </div>
    <style>
      .html-background {
        background-size: 1%;
        background-image: url("../../public/arica-morro.svg");
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    </style>
  </body>
</html>
