---
import { ViewTransitions } from "astro:transitions";

import BaseHead from "../components/atomic/atoms/BaseHead.astro";
import Header from "../components/atomic/molecules/Header.astro";
import Top from "../components/atomic/molecules/Top.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const currentPath = Astro.url.pathname.includes("blog");
---

<html lang="en">
  <head>
    <ViewTransitions />
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .html-background {
        background-image: url("../../public/arica-morro.svg");
        background-repeat: no-repeat;
        background-position: bottom left;
        min-height: 100vh;
      }
    </style>
  </head>

  <body>
    <div class="html-background">
      {
        !currentPath && (
          <header>
            <Top />
          </header>
        )
      }
      <main>
        <br />

        <slot />
      </main>

      <!-- <footer> -->
      <Header />
      <!-- </footer> -->
    </div>
  </body>
</html>
